*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --main-bg:rgb(238, 229, 216);
    --spacing:0.1rem;
    --highlighter:rgb(43, 149, 235);
    --box-shadow:0px 5px 10px rgb(80, 77, 77);
    --transition:all 0.3s linear;
    --margin-bottom:1rem;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--main-bg);
    line-height: 1.5;
    color:gray;
    background-image:url("nature (49).jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* font-size: 0.875rem; */
}

a{
    text-decoration: none;
    
}

ul{
    list-style-type: none;
}
li{
    margin:0px 8px;
}
h1,h2,h3,h4{
    letter-spacing: var(--spacing);
    margin-bottom:0.75rem;
    text-transform: capitalize;
}
p{
    margin-bottom: 1.25rem;
}

.main-container{
    /* border:2px solid red; */
    background-color:var(--main-bg);
    height:auto;
    width:70%;
    margin:50px auto;
    text-align:center;
    padding:1.5rem;
    box-shadow: var(--box-shadow);
}
.chance-container{
    margin-bottom:var(--margin-bottom);
}
.question-container{
    /* border:2px solid green; */
    display:inline-block;
    padding:10px;
    margin-bottom:var(--margin-bottom);
}
.abcd-container{
    /* border:2px solid blue; */
    padding:10px;
    width:50%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    margin-bottom: var(--margin-bottom);
}
.abcd-divs{
    /* border:1px solid red; */
    margin-bottom:0.6rem;
    display:flex;
    justify-content: center;
}
.abcd-btn{
    height:2.5rem;
    width:2.5rem;
    font-size:1.4rem;
    margin:0 5px;
    cursor:pointer;
    /* border:none; */
}
.button-container{
    /* border:2px solid blue; */
    margin:0 auto;
    width:30%;
}
.btn{
    
    font-size:1rem;
    padding:5px 10px;
    cursor:pointer;
    margin:0 5px;
    /* border:none; */
}