*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --main-bg:rgb(238, 229, 216);
    --spacing:0.1rem;
    --highlighter:rgb(43, 149, 235);
    --box-shadow:0px 5px 10px rgb(80, 77, 77);
    --transition:all 0.5s ease;
    --margin-bottom:1rem;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--main-bg);
    line-height: 1.5;
    color:gray;
    background-image:url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    
}

ul{
    list-style-type: none;
}
li{
    margin:0px 8px;
}
h1,h2,h3,h4{
    letter-spacing: var(--spacing);
    margin-bottom:0.75rem;
    text-transform: capitalize;
}
p{
    margin-bottom: 1.25rem;
}

.main-container{
    /* border:2px solid red; */
    background-color:var(--main-bg);
    height:auto;
    width:70%;
    margin:50px auto;
    text-align:center;
    padding:1.5rem;
    box-shadow: var(--box-shadow);
}
.chance-container{
    margin-bottom:var(--margin-bottom);
}
.chance span{
    color:rgb(4, 153, 4);
}
.question-container{
    /* border:2px solid green; */
    display:inline-block;
    padding:10px;
    position:relative;
}
.question{
    letter-spacing: 0.8rem;
}
.correct-box{
    padding:10px 15px;
    border:black;
    box-shadow: var(--box-shadow);
    background:white;
    height:0%;
    width:auto;
    position:absolute;
    left:34%;
    transform: translateY(-50%);
    top:0%;
    z-index: -1;
    transition:all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.pop-up-correct-box{
    top:120%;
    height:65%;
    z-index: 1;
}

.three-features{
    /* border:1px solid red; */
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.three-features h4{
    text-shadow:2px 2px 5px greenyellow;
    cursor:pointer;
    color:rgb(145, 16, 145);
    border:black;
    box-shadow:var(--box-shadow);
    padding:8px 15px;
}
.how-to-play{
    color:black;
}

.how-to-box{
    padding:10px 15px;
    border:black;
    box-shadow: var(--box-shadow);
    background:white;
    height:auto;
    width:auto;
    position:absolute;
    left:0%;
    top:0%;
    overflow:hidden;
    opacity:0;
    z-index: -1;
    transition:all 1s ease-in;
}
.pop-up-how-to-box{
    top:100%;
    z-index: 1;
    opacity:1;
}
.category-list {
    /* border:1px solid black; */
    color: black;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
  }
  .category-list li:hover {
    background: rgb(228, 226, 226);
    color: blue;
    padding-left: 1.5rem;
    cursor: pointer;
}
.category-box{
    padding:10px 15px;
    box-shadow: var(--box-shadow);
    background:white;
    height:auto;
    width:28%;
    position:absolute;
    right:0%;
    top:0%;
    overflow:hidden;
    opacity:0;
    z-index: -1;
    transition:all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.pop-up-category-box{
    top:100%;
    z-index: 1;
    opacity:1;
}

.abcd-container{
    /* border:2px solid blue; */
    padding:10px;
    width:50%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    margin-bottom: var(--margin-bottom);
}
.abcd-divs{
    /* border:1px solid red; */
    margin-bottom:0.6rem;
    display:flex;
    justify-content: center;
}
.abcd-btn{
    height:2.5rem;
    width:2.5rem;
    font-size:1.4rem;
    margin:0 5px;
    cursor:pointer;
}
.button-container{
    /* border:1px solid blue; */
    margin:0 auto;
    width:50%;
    position:relative;
}
.btn{
    
    font-size:1rem;
    padding:5px 10px;
    cursor:pointer;
    margin:0 5px;
    margin-bottom: var(--margin-bottom);
}
.answer{
    opacity:0.5;
}
.answer-box{
    padding:10px 15px;
    border:black;
    box-shadow: var(--box-shadow);
    background:white;
    height:0%;
    width:auto;
    position:absolute;
    left:34%;
    transform: translateY(-50%);
    top:0%;
    z-index: -1;
    visibility:none;
    transition:all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.pop-up-answer{
    top:150%;
    width:auto;
    height:100%;
    z-index: 1;
    visibility:visible;
}

@media screen and (max-width:576px){
    .main-container{
        background-color:var(--main-bg);
        height:100vh;
        width:100%;
        margin:0;
    }
    .three-features{
        flex-wrap:wrap;
    }
    .three-features h4{
        flex-basis:100%;
    }
    .category-box{
        width:100%;
    }
    .answer-box{
        bottom:100%;
        top:-1%;
        left:0%;
    }
    .pop-up-answer{
        bottom:150%;
        left:0%;
        top:-80%;
    }
    .abcd-btn{
        height:2rem;
        padding:0.4rem;
    }
    .button-container{
        width:100%;
    }
}